body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

#exercicio-01 {
    width: 100pw;
    border-radius: 6px;
/*    background-color: #e6f0ff;*/
}

#interface {
    width: 1000px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.enunciado {
    display: inline-block;
    margin-bottom: 15px;
    margin-top: -35px
}

h4 {
/*    text-align: center;*/
    font-size: 19pt;
    color: #1e1a64;
    padding: 10px;
}

label {
    cursor: default;
}

input {
    height: 42px;
    width: 250px;
    box-sizing: border-box;
    text-align: center;
    font-size: 11pt;
    margin:-3px;
}

h1 {
    font-size: 26pt;
    text-align: center;
}

p {
    text-align: center;
    font-size: 18pt;

}

#facef {
    width: 450px;
    display: block;
    margin: auto;
}

.button {
    border-radius: 4px;
    background-color: #1e1a64;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 99px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
    position: absolute;
    margin-top: -4px

}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
footer{
    width: 100pw;
    background-color: #1e1a64;
    padding: 15px;
    
}
footer p{
    display: block;
    text-align: center;
    color: white;
}

.button-1 {
    display: block;
    margin: auto;
    border-radius: 4px;
    background-color: #1e1a64;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 1000px;
    cursor: pointer;
    margin-bottom: 60px;

}

.button-1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}